# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# Misc
.DS_Store
